<h1>This are my tasks</h1>
<p>Start working on it right now!</p>

<% @tasks.each do |t| %>
  <div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""   <%= "checked" if t.completed == true %> id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <%= link_to t.title, tasks_path(t) %>
      </label>
    </div>
  </div>
<% end %>
